:root {
    /*Свободные пустые участки*/
    --free-object-color: #23DD00;
    /*Проданные участки*/
    --sold-object-color: #FF4000;
}
    


.map {
    width: 100%;
    height: auto;

    & .object {
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

.object {
    &_2_11,
    &_2_12,
    &_2_13,
    &_2_14,
    &_2_15,
    &_2_16,
    &_2_17,
    &_2_18,
    &_2_19,
    &_2_110,
    &_2_111,
    &_2_112,
    &_2_113,
    &_2_114,
    &_2_115,
    &_2_116,
    &_2_117,
    &_2_118, {
        fill: var(--free-object-color);
    }



    
}